<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>OpenMRS</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>1.9.3</require_version>
	<!-- / Module Properties -->

    <require_modules>
        <require_module version="${uiframeworkVersion}">org.openmrs.module.uiframework</require_module>
        <require_module version="${appframeworkVersion}">org.openmrs.module.appframework</require_module>
        <require_module version="${uicommonsVersion}">org.openmrs.module.uicommons</require_module>
        <require_module version="${emrapiVersion}">org.openmrs.module.emrapi</require_module>
        <require_module version="${appuiVersion}">org.openmrs.module.appui</require_module>
        <require_module version="${idgenVersion}">org.openmrs.module.idgen</require_module>
        <require_module version="${coreappsVersion}">org.openmrs.module.coreapps</require_module>
        <require_module version="${metadatamappingVersion}">org.openmrs.module.metadatamapping</require_module>
    </require_modules>
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.RadiologyAppActivator</activator>
	
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
        RadiologyOrder.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>ht</lang>
		<file>messages_ht.properties</file>
	</messages>
    <messages>
        <lang>pt</lang>
        <file>messages_pt.properties</file>
    </messages>
	<!-- /Internationalization -->





    <!-- Global Properties -->
    <globalProperty>
        <property>emr.xrayOrderablesConcept</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the concept whose set members are the orderable Xray studies
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.ctScanOrderablesConcept</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the concept whose set members are the orderable CT scan studies
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.ultrasoundOrderablesConcept</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the concept whose set members are the orderable ultrasound studies
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.radiologyTestOrderType</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the the Radiology Test order type
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.radiologyOrderEncounterType</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the the Radiology Order encounter type
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.radiologyReportEncounterType</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the the Radiology Report encounter type
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.radiologyStudyEncounterType</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the the Radiology Study encounter type
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.radiologyTechnicianEncounterRole</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the the Radiology Technician encounter role
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.principalResultsInterpreterEncounterRole</property>
        <defaultValue></defaultValue>
        <description>
            UUID of the the Radiology principal results interpreter encounter role
        </description>
    </globalProperty>

    <globalProperty>
        <property>emr.radiologyCareSetting</property>
        <defaultValue>6f0c9a92-6f24-11e3-af88-005056821db0</defaultValue>
        <description>
            UUID of the Care Setting to use when creating radiology orders; the default is the uuid of the "Outpatient" setting baked into core
        </description>
    </globalProperty>

    <globalProperty>
        <property>radiologyapp.contrastOrderablesConcept</property>
        <defaultValue></defaultValue>
        <description>
            Used to specify the orderables that require constrast; not mandatory, but if this concept is set then went ordering an study the procedure ordered will be tested against this set if it is a member of the set specific contrast-related questions will be asked (currently just the creatinine level of the patient)
        </description>
    </globalProperty>


    <globalProperty>
        <property>radiologyapp.creatinineLevelConcept</property>
        <defaultValue></defaultValue>
        <description>
            Used to specify the creatinine level test result of the patient (only used in conjunction with contrast orderables)
        </description>
    </globalProperty>


    <globalProperty>
        <property>radiologyapp.leadRadiologyTechName</property>
        <defaultValue></defaultValue>
        <description>
            Name of Lead Radiology Tech (not mandatory, only used for warning messages)
        </description>
    </globalProperty>

    <globalProperty>
        <property>radiologyapp.leadRadiologyTechContactInfo</property>
        <defaultValue></defaultValue>
        <description>
            Contact Info of Lead Radiology Tech (not mandatory, only used for warning messages)
        </description>
    </globalProperty>

    <!-- Privileges -->
    <privilege>
        <name>Task: org.openmrs.module.radiologyapp.orderXray</name>
        <description>Rights to order an x-ray via the x-ray app</description>
    </privilege>

    <privilege>
        <name>Task: org.openmrs.module.radiologyapp.orderCT</name>
        <description>Rights to order a CT Scan via the radiology app</description>
    </privilege>

    <privilege>
        <name>Task: org.openmrs.module.radiologyapp.tab</name>
        <description>Ability to view the Radiology tab for patient</description>
    </privilege>

    <privilege>
        <name>Task: org.openmrs.module.radiologyapp.retroOrder</name>
        <description>Ability to retrospectively order a radiology study</description>
    </privilege>

</module>


