.left-column, .right-column {
  display: inline-block;
  width: 45%;
  padding-bottom: 20px;
  vertical-align: top;
}

.left-column {
  clear: left;
}

#study-search {
  width: 330px;
  height: 2em;
  padding-left: 5px;
  margin-top: 5px;
}

#selected-studies {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
#selected-studies li {
  border: 1px #eee solid;
  border-radius: 5px;
  background-color: #e0e0e0;
  padding: 0.5em 1em 0.5em 1em;
}
#selected-studies span:nth-child(3) {
  float: right;
  cursor: pointer;
}

#bottom {
  clear: both;
}
#bottom button:nth-child(2) {
  float: right;
}

.row {
  display: table-row;
}
.row input, .row span, .row .select, .row input[type="checkbox"] {
  display: inline-block;
  float: none;
}

#contentForm {
  padding-left: 50px;
  padding-right: 50px;
}
#contentForm #who-where-when-edit {
  margin-bottom: 6px;
  border-bottom: 1px solid #ccc;
}
#contentForm #who-where-when-edit #requestedOn-display {
  width: 150px;
  min-width: 0;
}
#contentForm #who-where-when-edit #requestedBy-field, #contentForm #who-where-when-edit #requestedFrom-field {
  width: 200px;
  min-width: 0;
}
#contentForm #who-where-when-edit label {
  margin-top: 0;
}
#contentForm #who-where-when-view {
  width: 600px;
  margin: 0;
  margin-bottom: 30px;
}
#contentForm #who-where-when-view td {
  padding-left: 5px;
}
#contentForm #who-where-when-view td label {
  margin-top: 0;
}
#contentForm #who-where-when-edit p, #contentForm #who-where-when-edit td, #contentForm #who-where-when-view p, #contentForm #who-where-when-view td {
  width: 210px;
}
#contentForm #who-where-when-edit p, #contentForm #who-where-when-view p {
  display: inline-block;
}
